@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.login-container{
    margin-top: 220px;
    text-align: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 40px;
}
.login-container h1{
    margin: 0px;
    color: #0f145b;
    margin-bottom: 20px;
    font-size: 30px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.login-form input{
    border: none;
    border-bottom: 1px solid lightslategray;
    padding: 0px;
    font-size: 17px;
    padding-bottom: 5px;
}
.login-form input:placeholder-shown{
    font-size: 17px;
    padding-bottom: 5px;
}
.login-form input:focus {
    outline: none;
}
.sign-button{
    width: 450px;
    height: 35px;
    border: none;
    background-color: #d51055;
    color: #ffff;
    border-radius: 8px;
    font-size: 14px;
}
.sign-button {
    cursor: pointer;
}
.login-links{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-links a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 100;
    font-style: normal;
}
@media (max-width: 420px) {
    .login-form {
        justify-content: center;
        text-align: center;
        width: 280px;
    }
    .sign-button{
        width: 280px;
        border: none;
        background-color: #d51055;
        color: #ffff;
        border-radius: 8px;
        font-size: 14px;
    }
}
